@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-black text-gray antialiased;
  }

  body {
    @apply min-h-screen m-0 p-0;
  }

  input,
  textarea {
    font-size: 16px;
  }
}
